<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

<<<<<<< HEAD
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/main.css" />
  <title>Document</title>
</head>

<body>
  <%- include('../partials/_nav') %>
  <div class="edit_container">
    <br><br><br><br>
    <h1 style="color: #00AAE9; font-size: x-large;"><u> Trainer - Edit Page </u></h1>
=======
  <body>
    <h1>trainer - edit</h1>
>>>>>>> dev
    <!--Replace defult value with the envoked obj:keyvaule-->
    <div class="trainers_card">
      <form action="/trainer/<%= trainer._id%>?_method=PUT " method="POST">
        <div>
          <label for="trainerName">Trainer Name</label><br />
<<<<<<< HEAD
          <input type="text" id="trainerName" name="trainerName" value="<%=trainer.trainerName%>" />
        </div>
        <div>
          <label for="favPokemon">Favorite Pokemon </label><br />
          <input type="text" id="favPokemon" name="favPokemon" value="<%=trainer.favPokemon%>" />
=======
          <input
            type="text"
            id="trainerName"
            name="trainerName"
            value="<%=trainer.trainerName%>"
          />
        </div>
        <div>
          <label for="favPokemon">Favorite Pokemon </label><br />
          <input
            type="text"
            id="favPokemon"
            name="favPokemon"
            value="<%=trainer.favPokemon%>"
          />
>>>>>>> dev
        </div>
        <div>
          <label for="goTeam">Pokemon Go Team </label><br />
          <select id="goTeam" name="goTeam">
<<<<<<< HEAD
            <option value="<%= trainer.goTeam%>" disabled>You picked last time:<%= trainer.goTeam%></option>
=======
            <option value="<%= trainer.goTeam%>" disabled
              >You picked last time:<%= trainer.goTeam%></option
            >
>>>>>>> dev
            <option value="Valor">Valor</option>
            <option value="Mystic">Mystic</option>
            <option value="Instinct">Instinct</option>
            <option value="n/a">N/A</option>
          </select>
        </div>
        <div>
          <label for="aboutMe">About Me</label><br />
<<<<<<< HEAD
          <textarea name="aboutMe" id="aboutMe" value="<%= trainer.aboutMe%>" cols="50" rows="10"></textarea>
=======
          <textarea
            name="aboutMe"
            id="aboutMe"
            value="<%= trainer.aboutMe%>"
            cols="50"
            rows="10"
          ></textarea>
>>>>>>> dev
        </div>
        <input type="submit" value="Submit" />
      </form>
    </div>
<<<<<<< HEAD
  </div>
</body>

</html>
=======
  </body>
</html>
>>>>>>> dev
